<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  
</head>
<body>
  <form>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <br>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password </label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <br>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">I agree terms and conditions</label>

    </div>

    <h4>If you don't account<a href="{% url 'register'%}"> Click here to Register</a></h4>
    <button type="Cancel" class="btn btn-primary">Cancel</button>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  
  <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore quia accusamus aut alias magnam harum adipisci animi, optio omnis, libero, nemo tenetur iure temporibus! Optio dolorum fugiat fugit facilis ratione.</p> -->
</body>
</html>