<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo1</title>
</head>
<body>
    <h1>Registration</h1>
    <form>

    <input type ="text" name ="firstname" placeholder="Firstname"><br>
    <input type ="text" name ="Lastname" placeholder="Lastname"><br>
    <input type ="text" name ="Username" placeholder="Username"><br>
    <input type ="Password1" name ="Password" placeholder="Password"><br>
    <input type ="Password2" name ="Password2" placeholder="Repeat Password"><br>
    <br>
    <h4>If you account<a href="{% url 'Login'%}"> Click here to login</a></h4>
    <br>
    <input type="Submit">
  
   


</form>
</body>
</html>